.card__post, .card-content {
    text-decoration: none;
    color: #555;
}

.card__post time {
    font-size: 12px;
    color: #afafaf;
}

.card-title {
    color: #3875d7;
}

.card-content:hover .card-title {
    text-decoration: underline;
}

.card-content:hover p {
    text-decoration: none;
    color: #555;
}